// Import partials here
@import 'base.normalize';
@import 'settings.variables';
@import 'settings.responsive';
@import 'components.content';

// responsive sizing for "screen and (max-width: 767px)"
@include media-query('mobile') {
  // border styling
  .main {
    display: block;
    border: 3rem solid $darkgray;
    border-radius: 10px;
    //margin: 1rem;
    color: $darkergray;
  }
  // all card info
  .card {
    text-align: center;
    img {
      border-radius: 5%;
      width: 50%;
    }
    h1 {
      color: $darkergray;
      margin-bottom: 0;
    }
    p {
      font-style: italic;
      font-size: 23px;
      margin-top: 0;
    }
  }
  .card-more {
    background-color: $gray;
    padding: 1rem 2rem;
    font-size: 18px;
    // hide the link underline
    a:link {
      text-decoration: none;
    }
    // show the link underline on hover
    a:hover {
      text-decoration: underline;
    }
  }
}
// responsive sizing for "screen and (min-width: 768px)"
@include media-query('tab') {
  // border styling
  .main {
    display: flex;
    border: 3rem solid $darkgray;
    border-radius: 10px;
    margin: 1rem;
    color: $darkergray;
  }
  // card info
  .card {
    flex: 30%;
    text-align: center;
    img {
      border-radius: 50%;
      width: 100%;
    }
    h1 {
      color: $darkergray;
      margin-bottom: 0;
    }
    p {
      font-style: italic;
      font-size: 23px;
    }
  }
  .card-more {
    flex: 70%;
    background-color: $gray;
    padding-left: 2rem;
    padding-top: 1rem;
    margin-left: 2rem;
    font-size: 20px;
    img {
      width: 2rem;
    }
    // hide the link underline
    a:link {
      text-decoration: none;
    }
    // show the link underline on hover
    a:hover {
      text-decoration: underline;
    }
  }
}
// responsive sizing for "screen and (min-width: 920px)"
@include media-query('lg') {
  .card {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 30px;
      margin-top: 0;
    }
  }
  .card-more {
    font-size: 26px;
  }
}
// responsive sizing for "screen and (min-width: 1024px)"
@include media-query('desk') {
  .card {
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 36px;
      margin-top: 0;
    }
  }
  .card-more {
    font-size: 30px;
  }
}
